* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.cls-1 {
    fill: #a5c422
}

.cls-2 {
    fill: #a5c422
}

svg {
    width: 20px;
    fill: #a5c422;
}

.green-letter {
    background-color: #a5c422;
    color: white;
}


.round-img {
    width: 70px;
    max-width: 100%;
    border-radius: 50%;
}

img {
    max-width: 100%;
}


.email-svg {
    width: 20px;
}

#appointment-img {
    width: 650px;
    max-width: 100%;
}

.map {
    max-width: 100%;
    width: 100%;
    height: 350px;
}

.social {
    margin-right: 10px;
}

#icons:hover {
    fill: #a5c422;
}
